.table-row-cell:weather-thunderstorm {
    -fx-background-color: darkgray;
}

.table-row-cell:weather-drizzle {
    -fx-background-color: lightgray;
}

.table-row-cell:weather-rain {
    -fx-background-color: gray;
}

.table-row-cell:weather-snow {
    -fx-background-color: white;
}

.table-row-cell:weather-atmosphere {
    -fx-background-color: lightbue;
}

.table-row-cell:weather-clouds {
    -fx-background-color: red;
}

.table-row-cell:weather-extreme {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.table-row-cell:weather-additional {
    -fx-background-color: green;
}

.table-row-cell:weather-unknown {
    -fx-background-color: lightgray;
}